#root {
  padding: 5%;
  background-color: #58355e;
}

body {
  margin: 0;
  background-color: #58355e;
}

.card {
  width: 400px; /* Set a fixed width */
  height: 400px; /* Set a fixed height */
}


.slide-show {
  width: 50%;
  height: 500px;
  background-color: bisque;
  float: left;
}

.skill-button {
  padding: 1px;
}

.chat-box {
  width: 50%;
  height: 500px;
  background-color: cornflowerblue;
  float: right;
}

.section {
  margin: 5%;
}