#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.slide-show {
  width: 50%;
  height: 500px;
  background-color: bisque;
  float: left;
}

.chat-box {
  width: 50%;
  height: 500px;
  background-color: cornflowerblue;
  float: right;
}
